*{margin: 0;
  padding: 0;}
html{margin:0; padding:0}
body{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
   text-align:center;
   background-color:rgb(137, 114, 154);
   margin:0;
   padding:0;
  height: 100%}
p{margin:0; border-color:white;
  text-align:center; color: white;
  font-size: 10pt;}
a{padding:5px; ;
text-decoration:underline; 
color:white}
h1{color: black;
  text-align:center; 
  font-family:Limelight;
  font-size: 28pt;
  text-decoration: underline;
margin-bottom: 0cm;
padding: 1cm;
width: 600px;
background-color:#a68bc0;}
h2{text-align:center; 
  font-family:Limelight;
  font-size: 20pt;
margin-bottom: 1cm; margin-top:1cm;
color:white;}
#unter3{text-align: center;
    font-family: Limelight; 
    font-size: 18pt;
    text-decoration: underline; 
      margin-bottom: 20pt;
    color:white;}
div#header{text-align: center;}
div#navigator{float:right; width:100px; background-color:#a68bc0bc;}
div#navigator p{text-align:left; font-size: 12pt;}
button {
  background-color:#996cc3bc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
button:hover {background-color: #73449ebc;}
div#container{text-align:center;}
div#content p{text-align:center}
div#posts{text-align:center;
       margin-top:0cm;}
ul{padding:0; 
 list-style-type:none;
  text-align:center;  
  color:rgb(12, 13, 15); 
  margin-top:1cm; 
  margin-bottom: 3cm;}
li{margin-bottom:5px;
  text-align:center;
  font-size:12pt;}
.background-images{
background-image:url('images/silhouette-dance-swing-lindy-hop-silhouette-76196bee605cca78c1eac589eba51219.png'),
  url('images/Hintergrund.jpg');
background-repeat: no-repeat, repeat; 
background-position: left top, left top;}
div#footer{background:rgba(137, 114, 154, 0.75);}
div#footer p{margin:0;padding:5px 10px}
div#container{float:none; width:600px;margin:0 auto; min-height: 100vh;}
div#content{float:none; width:600px; background-color: rgba(137, 114, 154, 0.75);height: auto; padding: 1cm; min-height: 100vh;}
div#footer{clear:both;width:100%; height: 12pt;}
#aufforderung{font-size: 12pt; margin-top:12pt;}
#immer{background-color: rgba(137, 114, 154, 0.75);}



@media all and (max-width: 480px){
  *{margin: 0;
    padding: 0;}
  html{margin:0; padding:0}
  body{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
     text-align:center;
     background-color:rgb(137, 114, 154);
     margin:0;
     padding:0;
    height: 100%}
  p{margin:0; border-color:white;
    text-align:center; color: white;
    font-size: 14pt;}
  a{padding:5px; ;
  text-decoration:underline; 
  color:white}
  h1{color: black;
    text-align:center; 
    font-family:Limelight;
    font-size: 28pt;
    text-decoration: underline;
  margin-bottom: 0cm;
  padding: 1cm;
  max-width: 400px;
  background-color:#a68bc0;}
  h2{text-align:center; 
    font-family:Limelight;
    font-size: 22pt;
  margin-bottom: 1cm; margin-top:1cm;
  color:white;}
  #unter3{text-align: center;
      font-family: Limelight; 
      font-size: 20pt;
      text-decoration: underline; 
        margin-bottom: 20pt;
      color:white;}
  div#header{text-align: center;}
  div#navigator{float:right; max-width:100px; background-color:#a68bc0bc;}
  div#navigator p{text-align:left; font-size: 16pt;}
  button {
    background-color:#996cc3bc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  button:hover {background-color: #73449ebc;}
  div#container{text-align:center;}
  div#content p{text-align:center}
  div#posts{text-align:center;
         margin-top:0cm;}
  ul{padding:0; 
   list-style-type:none;
    text-align:center;  
    color:rgb(12, 13, 15); 
    margin-top:1cm; 
    margin-bottom: 3cm;}
  li{margin-bottom:5px;
    text-align:center;
    font-size:14pt;}
  .background-images{
  background-image:url('images/silhouette-dance-swing-lindy-hop-silhouette-76196bee605cca78c1eac589eba51219.png'),
    url('images/Hintergrund.jpg');
  background-repeat: no-repeat, repeat; 
  background-position: left top, left top;}
  div#footer{background:rgba(137, 114, 154, 0.75);}
  div#footer p{margin:0;padding:5px 10px}
  div#container{float:none; max-width:450px;margin:0 auto; min-height: 100vh;}
  div#content{float:none; width:450px; background-color: rgba(137, 114, 154, 0.75);height: auto; padding: 1cm; min-height: 100vh;}
  div#footer{clear:both;width:100%; height: 12pt;}
  #aufforderung{font-size: 16pt; margin-top:30pt;}
  #immer{background-color: rgba(137, 114, 154, 0.75);}
}