html,body{margin:0;padding:0}
body{text-align:center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
p{margin:0 10px 10px}
a{padding:5px; text-decoration:underline; color:#fbf8f8; text-align:center}
div#header{background-color:#922932;}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px;}
div#container{text-align:left}
div#content p{line-height:1.4}
div#content h2{color: white}
div#navigator{text-align:center;}
button {
  background-color:#dd3949;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover {background-color: #922932;}
div#footer{background:#e3606d;}
div#footer p{margin:0;padding:5px 10px}
div#container{width:700px;margin:0 auto}
div#content{float:left;width:500px; padding-left: 10%; padding-right: 10%}
div#navigation{float:right;width:200px}
div#extra{background:#922932;}
div#extra{float:right;clear:right;width:200px}
div#footer{clear:both;width:100%}
#link{text-align:center;}
h1,h2{text-align:center; 
    font-family:Limelight;
    font-size: 36pt;}
h3{text-align:center; font-family: Limelight; color:white; margin-top: 2cm;}
p{text-align:left; color: white;}
body{background-color:rgba(215, 81, 81, 0.89);
    background-image:url('images/iron-horse-music-hall-ballroom-dance-swing-film-dancing-1f6edbd31b5721748292a6e919539ac9.png');
    background-repeat: no-repeat;
    background-size: 500px, 300px;}
li{color:white}
.dropbtn {
    background-color: rgba(215, 81, 81, 0.89);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e75e5e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #e07777}
  .dropdown:hover .dropdown-content {
    display:block;
  }
  .dropdown:hover .dropbtn {
    background-color: #8d383f;}

div#tab{float: right;}





@media (max-width: 760px) {
    html,body{margin:0;padding:0}
body{text-align:center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
p{margin:0}
a{padding:5px; text-decoration:underline; color:#fbf8f8; text-align:center}
div#header{background-color:#922932;}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px; max-width:100%;}
div#container{text-align:left}
div#content p{line-height:1.4; font-size: 16pt;}
div#content h2{color: white;}
div#navigation{background:#ca3a46;}
div#navigation ul{margin:15px 0; padding:0; list-style-type:none;}
div#navigation li{margin-bottom:5px;}
div#extra{background:#922932;}
div#footer{background:#e3606d;}
div#footer p{margin:0;padding:5px 10px}
div#container{max-width: 100%;margin:0}
div#wrapper{margin-left:10%;}
div#content{max-width: 90%; margin: 0 auto; padding: 0;}
div#navigation{float:right;max-width: 200px;}
div#extra{float:right;clear:right;max-width:200px; padding: 3px}
div#footer{clear:both;width:100%}
#link{text-align:center;}
.youtube-nocookie {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.youtube-nocookie iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
h1,h2{text-align:center; 
    font-family:Limelight;
  font-size: 36pt;}
h3{text-align:center; font-family: Limelight; color:white; margin-top: 2cm;}
p{text-align:left; color: white;}
body{background-color:rgba(215, 81, 81, 0.89);
    background-image:url('images/iron-horse-music-hall-ballroom-dance-swing-film-dancing-1f6edbd31b5721748292a6e919539ac9.png');
    background-repeat: repeat-y;
    background-size: contain;
  background-position: center 2cm;
  max-width: 100vw;}
li{color:white; font-size: 16pt;}
.dropbtn {
    background-color: rgba(215, 81, 81, 0.89);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e75e5e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #e07777}
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: #8d383f;}

div#tab{float: left;}

}
