html,body{margin:0;padding:0}
body{font: 76% arial,sans-serif;text-align:center}
p{margin:0 10px 10px}
a{padding:5px; text-decoration:underline; color:#fbf8f8; text-align:center}
div#header{background-color:#922932;}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px;}
div#container{text-align:left}
div#content p{line-height:1.4}
div#content h2{color: white}
div#navigation{background:#ca3a46;}
div#navigation ul{margin:15px 0; padding:0; list-style-type:none;}
div#navigation li{margin-bottom:5px;}
div#extra{background:#df5462;}
div#footer{background:#e3606d;}
div#footer p{margin:0;padding:5px 10px}
div#container{width:700px;margin:0 auto}
div#content{float:left;width:500px}
div#navigation{float:right;width:200px}
div#extra{float:right;clear:right;width:200px}
div#footer{clear:both;width:100%}
#link{text-align:center;}
h1,h2{text-align:center; 
    font-family:broadway;}
h3{text-align:center; font-family: broadway; color:white;}
p{text-align:left; color: white;}
body{background-color:rgb(219, 101, 101);
    background-image:url('images/iron-horse-music-hall-ballroom-dance-swing-film-dancing-1f6edbd31b5721748292a6e919539ac9.png');
    background-repeat: no-repeat;
    background-size: 500px, 300px;}
li{color:white}